.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: lightyellow;
}

.content {
  flex-grow: 1;
  display: flex;
}

.main {
  flex-grow: 1;
  display: flex;
}